<div class="container">
    <h1>Add Question</h1>
    <div class="msg">{{msg}}</div>
    <div class="err">{{err}}</div>
    <form action="/question/add/" method="POST">
        <input type="text" name="question" placeholder="question" class="form-control ad">
        <input type="text" name="answer" placeholder="answer" class="form-control ad">
        <input type="date" name="date" class="form-control ad">
        <input type="number" name="round" class="form-control ad" id="rnd" placeholder="Round #">
        <div class="custom-control check">
            <input type="checkbox" class="custom-control-input" id="correct" name="correct" value="correct"><label class="custom-control-label" for="correct">correct?</label>
        </div>
        <div class="ad as">
            <input type="text" name="tags" class="form-control" id="tagAddInput" placeholder="Tags"><button type="button" id="tagAddButton" class="btn btn-primary">add tag</button>
        </div>
        <div class="ad" id="tagArea"></div>
        <input type="hidden" name="tagdata" id="tagdata">
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
<script src="/javascripts/add_question.js"></script>