<div class="container">
    <h1>#{{tag}}</h1>
    <ul>
        {{#each qs}}
        <div class="row">
            <div class="col-6">
                <li><a href="/question/get/{{this.id}}">{{this.question}}</a></li>
            </div>
        </div>
        {{/each}}
    </ul>
</div>